<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["title"] - Web Deploy</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="libraries/fontawesome/css/all.min.css">
</head>

<body>
    @Html.Partial("_Nav")
    <main>
        @RenderBody()
    </main>

    <script src="libraries/jquery.js"></script>
</body>

</html>