<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["title"] - @Chase.Vesta.Core.Values.ApplicationName</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/libraries/fontawesome/css/all.min.css">
    <link rel="icon" href="/img/logo.svg">
    <script src="/libraries/jquery.js"></script>
</head>

<body>
    @if(ViewData["hide-nav"] == null)
    {
        @Html.Partial("_Nav")
    }else{
        <style>
            main{
                margin-left: 2rem;
            }
        </style>
    }
    <main>
        @RenderBody()
    </main>

</body>

</html>