<link rel="stylesheet" href="css/create-instance.css">
<h1>Create Instance</h1>
<div id="create-instance" class="col">
        <h4>Instances</h4>
        <div class="panel col">
            <div id="form-data" class="row">
                <div class="col">
                    <label for="instance-name">instance name</label>
                    <input type="text" placeholder="site name" name="instance-name">
                    <label for="domain-name">domain name</label>
                    <input type="text" placeholder="site name" name="domain-name">
                    <label for="server-name">server architecture</label>
                    <button class="dropdown" value="default">
                        <div class="dropdown-item" value="default">
                            default
                        </div>
                    </button>
                </div>
            </div>
            <div class="center horizontal">
                <div class="button">
                    <i class="fa fa-plus"></i>
                    create
                </div>
            </div>
        </div>
</div>