<link rel="stylesheet" href="/css/login.css">
<h1>Login</h1>
<div id="login-form" class="col">
    <div class="panel col">
        <div id="form-data" class="col">
            <label for="username">username</label>
            <input id="login-username" type="text" placeholder="username" name="username">
            <label for="password">password</label>
            <input id="login-password" type="password" placeholder="password" name="password">
        </div>
        <div class="center">
            <p class="error"></p>
        </div>
        <div class="center horizontal">
            <div id="login-button" class="button">
                <i class="fa fa-plus"></i>
                Login
            </div>
        </div>
    </div>
</div>
<script src="/js/authentication.js"></script>